/* --- 1. IMPORTS & VARIABLES --- */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,600;0,700;1,400&family=Teko:wght@400;500;600&display=swap');

:root {
  --dark: #111111;
  --white: #ffffff;
  --biege: #f4eedc;       
  --biegeDark: #e5deb0;   
  
  /* --- ICON COLORS --- */
        --white: #ffffff;
    --grey: #ebebeb;
    --middleGrey: #b7b7b7;
    --darkGrey: #8d8d8d;
    --dark: #0f0024;
    --red: #ff2121;
    --orange: #ffaa00;
    --yellow: #ffe600;
    --green: #9DFF00;
    --blue: #0091FF;
    --turqoise: #00e1ff;
    --halfRed: #ffb6b6;
    --halfOrange: #ffe2a8;
    --halfYellow: #fff7af;
    --halfGreen: #ddffa7;
    --halfBlue: #a3d7ff;
    --halfTurqoise: #8ef2ff;
    --biege: #F5ECDF;
    --biegeDark: #f0e7d5;
    --primary: #daae4f;
    --close: #fad400;
    --equal: #1fed00;
  --heading: "Chakra Petch", sans-serif;
  --heading2: "Teko", sans-serif;
}

/* --- 2. CSS RESET --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--biege);
  color: var(--dark);
  font-family: var(--heading);
  font-weight: 400;
  min-height: 100vh;
  
  --dotSize: 0.17rem;
  --bgSize: 1rem;
  --bgPosition: calc(var(--bgSize) / 2);
  background-repeat: repeat;
  background-image: 
    radial-gradient(circle at center, var(--biegeDark) var(--dotSize), transparent 0), 
    radial-gradient(circle at center, var(--biegeDark) var(--dotSize), transparent 0);
  background-size: var(--bgSize) var(--bgSize);
  background-position: 0px 0px, var(--bgPosition) var(--bgPosition);
}

/* --- 4. CENTER THE GAME CONTENT --- */

.main-game-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.5rem 1rem 2rem 1rem; /* Pulls the header right up to the top! */
}